---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./**/*.md");
---

<BaseLayout>
	<h1>Hamnyce's H-Blog</h1>
	<p>On the button to your left to begin searching through my notes</p>
</BaseLayout>
