---
const allPosts = await Astro.glob("../pages/blogs/learning_ai/**/*.md");
//	TODO: replace open drawer with with icon for opening and closing
---

<div class="drawer">
	<input id="nav-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content">
		<!-- Page content here -->
		<label for="nav-drawer" class="btn btn-primary drawer-button"
			>Open drawer</label
		>
	</div>
	<div class="drawer-side">
		<label for="nav-drawer" aria-label="close sidebar" class="drawer-overlay"
		></label>
		<ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
			<!-- Sidebar content here -->
			<li><a href="/">Homepage</a></li>
			{
				allPosts.map((post) => (
					<li>
						<a href={post.url}>{post.frontmatter.title}</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
