---
import Navigation from "../components/Navigation.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<div class="prose flex flex-col content-center">
		<slot />
	</div>
</BaseLayout>
